/* special-elite-regular - latin */
@font-face {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    src: local('Special Elite'), local('SpecialElite-Regular'),
    url('../fonts/special-elite-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/special-elite-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* denk-one-regular - latin */
@font-face {
    font-family: 'Denk One';
    font-style: normal;
    font-weight: 400;
    src: local('Denk One'), local('DenkOne-Regular'),
    url('../fonts/denk-one-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/denk-one-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html, body{
    font-family: 'Special Elite', cursive;
    background-color: #FF7E5F;
    color:#351C4D;
}
h2{
    font-family: 'Denk One', sans-serif;
}
h1, h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
#num, #timeType, #breakNum{
    font-size: 30px;
}
#breakNum{
    display: inline-block;
}
@keyframes hgrotate {
    0%{
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes topsand {
    0% {
        /* rect(top, right, bottom, left) */
        clip: rect(0px, 200px, 250px, 0px);
    }
    100% {
        clip: rect(125px, 200px, 250px, 0);
    }
}
@keyframes bottomsand {
    0% {
        clip: rect(125px, 200px, 250px, 0);
    }
    100% {
        clip: rect(0, 200px, 250px, 0);
    }
}
.loading {
    position: absolute;
    width: 200px;
    height: 270px;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    margin: auto;
    border-top: 10px solid rgba(53,28,77, 1);
    border-bottom: 10px solid rgba(53,28,77, 1);
    animation-timing-function: linear;
    animation-duration: 1s;
    /* height and width of the rectangles is never set--the hourglass shape is created strictly via border settings */
}
.hourglass-top, .hourglass-bottom {
    position: relative;
    /* the borders represent how far the left and right sides angle in to the middle */
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
}
.hourglass-top {
    /* border-top represents the height of the hourglass top */
    border-top: 125px solid rgba(118,82,133, .7);
}
.hourglass-bottom {
    /* border-bottom represents the height of the hourglass bottom */
    border-bottom: 125px solid rgba(118,82,133, .7);
}
.sand-top, .sand-bottom {
    position: absolute;
    /* loading width is 200px, these border widths are 150px together*/
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    right: 50%;
    z-index:1;
}
.sand-top {
    border-top: 125px solid rgba(254,180,123, 1);
    transform: translate(50%, -100%);
}
.sand-bottom {
    border-bottom: 125px solid rgba(254,180,123, 1);
    transform: translate(50%, 0%);
}
.spin {
    animation-name: hgrotate;
}
 .regButton{
     display: inline-block;
     margin: 10px;
     font-weight: normal;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     cursor: pointer;
     border: 1px solid transparent;
     border-radius: 4px;
     padding: 6px 12px;
     font-size: 2em;
     color:#351C4D;
     background-color: #F5AB99;
     box-shadow: 0 2px 4px #351C4D;
     text-decoration: none;
 }
 .regButton:hover{
     color: #F5AB99;
     background-color: #351C4D;
     text-decoration: none;
 }
 a:link {
     text-decoration: none;
 }
 a:visited {
     text-decoration: none;
 }
 a:hover {
     text-decoration: underline;
 }
 a:active {
     text-decoration: underline;
 }
 .lineHalf {
     border-bottom: 1px solid #351C4D;
     text-align:center;
     height:2em;
     margin:2em auto;
     width: 50%;
 }
 .lineImgTitle{
     padding: 5px 5px;
     width:50px;
     height:auto;
     background: #FF7E5F;
 }
.logoImg{
    width: 60px;
    height: auto;
}
table{
    width: 100%;
}
td.left{
    width: 45%;
    padding-left: 5%;
    padding-top: 30px;
}
tr{
    /*border: 1px solid black;*/
}
td.center{
    width: 10%;
}
td.right{
    width: 45%;
    padding-right: 5%;
    padding-top: 30px;
}
hr.flared{
    height: 30px;
    border-style: solid;
    border-color: #351C4D;
    border-width: 3px 0 0 0;
    border-radius: 20px;
}
hr.flared:before{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #351C4D;
    border-width: 0 0 3px 0;
    border-radius: 20px;
}