@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700');

@font-face {
  font-family: "Cuadradex";
  src: url("../fonts/Cuadradex.ttf");
}
$NIGHTFALL: #351C4D; //rgb(53,28,77)
$PARADISE: #765285; //rgb(118,82,133)
$HEATWAVE: #FF7E5F; //rgb(255,126,95)
$SUNSET: #FEB47B; //rgb(254,180,123)
$TROPICALPINK: #F5AB99; //rgb(245,171,153)
$LSpace: .1rem;
$embase: 62.5%;
$fontBody: 'Montserrat Alternates', sans-serif;
$fontHeadings: "Cuadradex", sans-serif;