@import "templateProjectPageHeader";
html, body {
    //background: linear-gradient(to right, rgba(53,28,77,1), rgba(118,82,133,1));
    background: linear-gradient(to left, rgba($PARADISE,1), rgba($NIGHTFALL,1));
    font-family: $fontBody;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $fontHeadings;
}
#title{
    font-family: $fontHeadings;
    color: $HEATWAVE;
    text-align: center;
    text-shadow: -.2rem .2rem $NIGHTFALL;
}
/* ------------------------*/ /* ---------->>> Left Sidebar -- Begin <<<-----------*/ /* ------------------------*/
#sidebar {
    text-align: center;
    color: $HEATWAVE;
    font-family: $fontHeadings;
}
#sidebar__portrait {
    width: 80%;
    overflow: hidden;
    margin: 0 auto 2em;
    border-radius: 50%;
    border-style: solid;
    border-color: $HEATWAVE;
    border-width: 2px;
}
#sidebar__portrait img {
    height: auto;
    width: 100%;
}
.sidebar_social-icons > a {
    color: $HEATWAVE;
}
.sidebar_social-icons > a:hover {
    color: $SUNSET;
}
p.name, p.jobrole {
    line-height: 1.5rem;
}
p.jobrole{
    font-size: 1.5rem;
}
p.name {
    font-size: 3rem;
}
p.creds{
    font-size: .6rem;
    font-family: $fontBody;
    font-weight: bold;
    margin-bottom: .5rem;
}
.lineImgTitle{
    padding: 5px 5px;
    display: inline-block;
    height: 3em;
    width: 3em;
}
.lineLeft, .lineRight{
    border-bottom: 1px solid $HEATWAVE;
    width: 50%;
    height: 50%;
    //the margin below is necesary b/c bootstrap's rows have a -15px margin setting by default, which makes
    //the border of my hex-logo lines bleed into the main window from the sliding picture content panels
    margin: 0 1%;
}
.rowLogo{
    flex-wrap: nowrap;
    margin-bottom: 1rem;
}
/* ------------------------*/ /* ---------->>> Left Sidebar -- End <<<-----------*/ /* ------------------------*/

/* ------------------------*/ /* ---------->>> Radar Animation -- Begin <<<-----------*/ /* ------------------------*/
.radar {
    will-change: transform;
}
.radar .pointer {
    //do not delete the commented lines below in case I want to modify the design
    position: absolute;
    left: -1.5820106%;
    right: -1.5820106%;
    top: -1.5820106%;
    bottom: 50%;
    transform-origin: 50% 100%;
    //border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background-image: linear-gradient(135deg,
            rgba($SUNSET, .8) 0%,
            rgba($SUNSET, .02) 70%,
            rgba($SUNSET, 0) 100%
    );
    //clip-path: polygon(100% 0%, 100% 10%, 50% 100%, 0 100%, 0 0);
    animation: rotate360 3s infinite linear;
}
@keyframes rotate360 {
    to {
        transform: rotate(-360deg);
    }
}
//.target is the filled dot on the camel's eye
.target {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: $HEATWAVE;
    border-radius: 50%;
}
//.target-1 is the location for the dot on the eye
.target-1 {
    top: 24%;
    left: 20%;
    animation: blink 3s infinite 2.65s;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* ------------------------*/ /* ---------->>> Radar Animation -- End <<<-----------*/ /* ------------------------*/

/* ------------------------*/ /* ---------->>> Contact Form -- Begin <<<-----------*/ /* ------------------------*/
//TODO: make this a floating modal box & refactor the repeated properties
#contact {
    //z-index: 1;
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    height: 0;
    width: 100%;
    box-sizing: border-box;
    //padding: 0 0 0 30%;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(to right, $HEATWAVE, $SUNSET);
    transition: transform 0.6s linear 0s, height 0s linear 0.6s;
}
#contact:target {
    height: 100%;
    overflow: auto;
    transition: transform 0.6s linear 0s, height 0s linear 0s;
    transform: translateZ(0) translateX(100%);
}
#contact form {
    position: relative;
    height: auto;
    width: 80%;
    margin: 0 auto;
    background: none;
    text-align: center;
}
#contact label {
    display: inline-block;
    width: 20%;
    padding: 0 10px 0 0;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: right;
}
#contact input[type="text"] {
    height: 30px;
    width: 50%;
    border: 0;
    padding: 0 10px;
    box-sizing: border-box;
}
#contact input[type="submit"] {
    border: 0;
    margin: 15px 0 15px 20%;
}
#contact label[for="message"] {
    height: 300px;
    padding: 120px 10px 0 10px;
    box-sizing: border-box;
    vertical-align: top;
}
#contact textarea {
    height: 300px;
    width: 50%;
    padding: 5px 10px;
    border: 0;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
}
/* ------------------------*/ /* ---------->>> Contact Form -- End <<<-----------*/ /* ------------------------*/

/* ------------------------*/ /* ---------->>> Sliding Project Detail Panel -- Begin <<<-----------*/ /* ------------------------*/
#item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8, #item9, #item10, #item11, #item12, #item13, #item14, #item15 {
  //TODO: delete overflow, z-index & display settings if you don't see any problems after testing
    //overflow: hidden;
    //z-index: 3;
    //display: block;
    position: fixed;
    top: 0;
    right: -100%;
    height: 0;
    width: 100%;
    background: #FFFFFF;
    transition: transform 0.6s linear 0s, height 0s linear 0.6s;
}
#item1:target, #item2:target, #item3:target, #item4:target, #item5:target, #item6:target, #item7:target, #item8:target,
#item9:target, #item10:target, #item11:target, #item12:target, #item13:target, #item14:target, #item15:target {
    height: 100%;
    overflow: auto;
    transition: transform 0.6s linear 0s, height 0s linear 0s;
    transform: translateZ(0) translateX(-100%);
}
/* ------------------------*/ /* ---------->>> Sliding Project Detail Panel -- Begin <<<-----------*/ /* ------------------------*/

/* ------------------------*/ /* ---------->>> HEX GRID -- Begin <<<-----------*/ /* ------------------------*/
.overlay{
    background: linear-gradient(to right, $HEATWAVE, $SUNSET);
    padding: 50% 2% 2% 2%;
    color: $NIGHTFALL;
    font-family: $fontBody;
    text-align: center;
    font-size: 1.5vmax;
    font-weight: 100;
    text-shadow: -2px 2px 4px $PARADISE;
}
#grid{
    //margin: 0 0 0 30%;
    /*padding: 11em 5em 10em 0; !*clears the ul of the default value of 40px *!*/
    //padding: 14% 5em 10em 0;
    //background: linear-gradient(to right, rgba(73,44,94,1), rgba(118,82,133,1));
    //border: solid 1px red;
}
/* the parallelogram */
#grid li{
    list-style-type: none;
    //position: relative;
    float: left;
    /* width = padding * 0.866 {Math.sin(60/180*Math.PI):the 60 is the degrees, and Math.sin() returns radians} -- if adding another hex to a row */
    /* width = 83.571428/numOfHexs for % */
    width: 27.85714285714286%;
    /* width: 20.892857%; */
    /* padding = 96.502804/numOfHexs for bottom value % */
    padding: 0 0 32.16760145166612% 0;
    /* padding: 0 0 24.125701% 0; */
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    //border: 1px solid black;
}
#grid li *{
    visibility: visible;
    //border: 1px solid red;
}
/* the clipped rectangle sitting on the parallelogram */
#grid li .hexagon{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    //border: 1px solid red;
}
#grid li .hexagon img {
    left: -100%;
    right:-100%;
    height:100%;
    width: auto;
    margin: 0 auto;
    transition: all 0.6s linear 0s;
}
/* this is for the mobile app pic since it is a "vertical" rectangle */
.hexVert{
    margin: 0 0 0 22% !important;
}
#grid li:hover img {
    height: 150%;
    transform: translateZ(0) translateX(-25%);
}
#grid li .hexagon .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#grid li:hover .overlay {
    transition: all 0.6s linear 0s;
    background: rgba($SUNSET,0.6);
    color: transparent;
    text-shadow: none;
}
#grid li:nth-child(3n+2){
    margin: 0 1%;
}
/* for a row of 4, use (2n+2) */
/*
#grid li:nth-child(2n+2){
    margin:0 1%;
}
*/
/* if adding another hex, add 2 to the cycle size "a" and 1 to the offset "b" of (an+b)
also, add 2 to margin-top and margin-bottom for every additional hex added to a row
*/
#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6){
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
/*
#grid li:nth-child(8n+5), #grid li:nth-child(8n+6), #grid li:nth-child(8n+7), #grid li:nth-child(8n+8){
    margin-top: -4.9285714285%;
    margin-bottom: -4.9285714285%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
*/
/* if adding another hex, shift the even numbered rows over .5% */
#grid li:nth-child(6n+4){
    margin-left: 0.5%;
}
/*
#grid li:nth-child(8n+5){
    margin-left:0.5%;
}
*/
/* ------------------------*/ /* ---------->>> HEX GRID -- End <<<-----------*/ /* ------------------------*/

/* ------------------------*/ /* ---------->>> Modal Detail Display -- Begin <<<-----------*/ /* ------------------------*/
//the left & right classes are hold-overs from the previous design
//.left, .right {
//    position: absolute;
//    height: 100%;
//    width: 50%;
//    overflow: auto;
//    background: none;
//    border-style: dashed;
//    border-color: $NIGHTFALL;
//    border-width: thin;
//}
//.right {
//    left: 50%;
//    overflow: auto;
//}
//.right img {
//    height: auto;
//    width: 100%;
//    margin-left: .1em;
//    margin-top: .1em;
//}
.left{

}
.projContent{
    font-size: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
}
.projContent > h1{
    font-size: 3rem;
    text-align: center;
}
.projImg{
//nothing for now but I want to keep this placeholder
}

.rightVert{
    height:100% !important;
    width:auto !important;
    margin-left:25% !important;
}
.button {
    display: inline-block;
    transition: all 0.3s linear 0s;
    background: $SUNSET;
}
.button:hover {
    background: $HEATWAVE;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    z-index: 4;
    padding-top: 1%;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: linear-gradient(to right, $HEATWAVE, $SUNSET);
}
/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 85%;
}
#myImgQuake:hover, #myImgAlg:hover{
    cursor: pointer;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#imgCaption {
    margin: auto;
    text-align: center;
    color: $NIGHTFALL;
    padding: 10px;
    font-family: $fontHeadings;
    font-size: 2em;
}
/* The Close Button */
.fa-close {
    position: absolute;
    top: .5em;
    right: 1em;
    color: $NIGHTFALL;
    font-size: 2em !important;
    font-weight: bold !important;
    transition: 0.3s;
}
.fa-close:hover,
.fa-close:focus {
    text-decoration: none;
    cursor: pointer;
}
/* ------------------------*/ /* ---------->>> Modal Detail Display -- End <<<-----------*/ /* ------------------------*/

/* ------------------------*/ /* ---------->>> Media Queries -- Begin <<<-----------*/ /* ------------------------*/
/* Media Query Classes:
    .display-1 : the bootstrap header class for the title font
    .faSize : the fontawesome links on the left sidebar
    .projImgDetail : the images on the sliding panels that show the project details
    .projContent : the font size of the project detail description (also on the sliding panels)
    .lineLeft/Right : this is the margin-bottom border for the divs that separate the hex logo. they bleed into the smaller resolutions by default.
 */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    //body {background: red;}
    .display-1{
        font-size: 2.3rem;
    }
    .faSize{
        font-size: 3em;
    }
    .projImgDetail{
        width:50%;
    }
    .projContent{
        font-size: 1rem;
    }
    .lineLeft, .lineRight{
        margin: 0 3.3%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    //body {background: green;}
    .display-1{
        font-size: 3rem;
    }
    .faSize{
        font-size: 3em;
    }
    .projImgDetail{
        width:50%;
    }
    .projContent{
        font-size: 1.2rem;
    }
    .lineLeft, .lineRight{
        margin: 0 2.3%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    //body {background: blue;}
    .display-1{
        font-size: 6rem;
    }
    .faSize{
        font-size: 2.7em;
    }
    .projImgDetail{
        width:50%;
    }
    .projContent{
        font-size: 1.3rem;
    }
    .lineLeft, .lineRight{
        margin: 0 1.8%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    //body {background: orange;}
    .display-1{
        font-size: 6rem;
    }
    .faSize{
        font-size: 3.5em;
    }
    .projImgDetail{
        width:50%;
    }
    .projContent{
        font-size: 1.3rem;
    }
    .lineLeft, .lineRight{
        margin: 0 1.5%;
    }
    #vertEslImg{
        width:40%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    //body {background: pink;}
    .display-1{
        font-size: 6rem;
    }
    .faSize{
        font-size: 4em;
    }
    .projImgDetail{
        width:60%;
    }
    .projContent{
        font-size: 1.5rem;
    }
    .lineLeft, .lineRight{
        margin: 0 1%;
    }
    #vertEslImg{
        width:30%;
    }
}